{% extends 'apps/base.html' %}
{% load static %}

{% block title %}
    Product list page
{% endblock %}

{% block main_content %}
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h4>Product</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Product
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product-list">
                <ul class="row">
                    {% for product in products %}
                        <li class="col-lg-4 col-md-6 col-sm-12">
                            <div class="product-box">
                                <div class="producct-img">
                                    {% if product.first_image %}
                                        <img src="{{ product.first_image }}" alt=""/>
                                    {% else %}
                                        <img src="{% static 'apps/vendors/images/noimage.jpeg' %}" alt=""/>
                                    {% endif %}
                                </div>
                                <div class="product-caption">
                                    <h4><a href="{% url 'product_detail_view' product.id %}">{{ product.name }}</a>
                                    </h4>
                                    <div class="price">
                                        {% if product.discount_price %}
                                            <del>${{ product.price }}</del>
                                            <ins>${{ product.discount_price }}</ins>
                                        {% else %}
                                            <ins>${{ product.price }}</ins>
                                        {% endif %}
                                    </div>
                                    <a href="{% url 'product_detail_view' product.id %}"
                                       class="btn btn-outline-primary">Read More</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="blog-pagination mb-30">
                <div class="btn-toolbar justify-content-center mb-15">
                    <div class="btn-group">
                        <a href="#" class="btn btn-outline-primary prev"
                        ><i class="fa fa-angle-double-left"></i
                        ></a>
                        <a href="#" class="btn btn-outline-primary">1</a>
                        <a href="#" class="btn btn-outline-primary">2</a>
                        <span class="btn btn-primary current">3</span>
                        <a href="#" class="btn btn-outline-primary">4</a>
                        <a href="#" class="btn btn-outline-primary">5</a>
                        <a href="#" class="btn btn-outline-primary next"
                        ><i class="fa fa-angle-double-right"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

